/* Self-hosted fonts for heyitsburt.com */
@font-face {
  font-family: "Bowlby One";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/253d7f13-2ffc-4542-959f-1201ccf31ad1.woff2") format("woff2");
}
@font-face {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/190c2841-ec1d-428b-b26b-f0e6f1c27625.woff2") format("woff2");
}
@font-face {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/a2d7666b-e78f-43c9-97ad-c1cb5bf07f13.woff2") format("woff2");
}
@font-face {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/d8fc1f0e-5a42-43d8-916d-366ce045241b.woff2") format("woff2");
}
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/079d2e85-14e2-4e39-8e46-a00a176b63bb.woff2") format("woff2");
}
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/14352d59-88f3-45a8-86c4-30a5cedf80b1.woff2") format("woff2");
}
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/1843a216-5c69-437c-980a-c2c04190ee9d.woff2") format("woff2");
}
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/1aedf0a2-4e17-4396-a6ab-7c13190e5fb9.woff2") format("woff2");
}
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/d05bc80c-98f9-4d8f-accb-0a647d28d998.woff2") format("woff2");
}
@font-face {
  font-family: "JetBrains Mono";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/f208b9ba-9642-4f13-8428-d862ad983aec.woff2") format("woff2");
}
